body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.keys {
  display: flex;
  flex-direction: column;
}
.display {
  border: 1px solid white;
  padding: 5px;
  font-size: 42px;
  padding-right: 30px;
  border-radius: 14px 14px 0 0;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex: 1;
}
.Row {
  display: flex;
}
.clear {
  flex: 2;
  background-color: rgb(52, 49, 49);
}
.modulo {
  background-color: rgb(52, 49, 49);
}

.two {
  flex: 2;
}

.one {
  flex: 1;
}

.yellow {
  background-color: rgb(144, 106, 9);
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  text-align: center;
  font-size: 24px;
  width: 80px;
  height: 80px;
}

.num {
  background-color: gray;
}

.equal {
  border-radius: 0 0 14px 0;
}

.zero {
  border-radius: 0 0 0 14px;
}
